{% extends 'base.html.twig' %}

{% block body %}

    {% if cart.elements %}

    <div>
        Total du panier : {{ cart.total }}
    </div>

        <table>
            <tr>    
                <th>Nom de l'article</th>
                <th>Quantité</th>
                <th>Prix</th>
            </tr>

            {% for element in cart.elements %}
                <tr>
                    <td>{{ element.article.nom }}</td>
                    <td>
                        <a href="{{ path ('cart_remove',{'id': element.article.id} ) }}">
                            <i class="fas fa-minus"></i>
                        </a>
                            {{ element.quantity }}
                        <a href="{{ path ('cart_add',{'id': element.article.id}) }}">
                            <i class="fas fa-plus"></i>
                        </a>
                    </td>
                    <td>{{ element.article.prix }}
                    <a href="{{ path ('cart_clear',{'id': element.article.id}) }}">
                        <i class="fas fa-recycle"></i>
                    </a>
                    </td>
                </tr>
            {% endfor %}

        </table>
     
            <span class="product-btn"><a href="{{ path ('payment_index')}}">Achat</a></span>
            <span class="product-btn"><a href="{{ path ('cart_clearall')}}">Vider le panier</a></span>


    {% endif %}



{% endblock %}
