


<main class="mainpage mt-5">

		<nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#45bab8;">
			<a class="navbar-brand" href="#">SummerField</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto ">
					<li class="nav-item">
						<a class="nav-link" href="{{ path ('home') }}">Accueil</a>
					</li>				

					<li class="nav-item">
						<a class="nav-link" href="{{ path ('catalog_index') }}">Catalogue</a>
					</li>

					{% if is_granted('ROLE_ADMIN') %}

						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
								Espace Administrateur
							</a>
							<ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
								<li>
									<a class="dropdown-item" href="/admin/article">Gestion Articles</a>
								</li>
								<li>
									<a class="dropdown-item" href="/admin/categorie">Gestion Catégorie</a>
								</li>
								<li>
									<a class="dropdown-item" href="/admin/commande">Gestion Commande </a>
								</li>
								<li>
									<a class="dropdown-item" href="/admin/detail/commande"> Détails Commandes</a>
								</li>
								<li>
									<a class="dropdown-item" href="/admin/paiement"> Détails Paiements</a>
								</li>
								<li>
									<a class="dropdown-item" href={{path ('admin_payment_request_index')}}>Gestion Paiements</a>
								</li>
								<li>
									<a class="dropdown-item" href={{path ('admin_dashboard')}}>Lien vers le dashboard</a>
								</li>
							</ul>
						</li>

					{% endif %}

					{% if is_granted('ROLE_SELLER') %}

						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
								Espace Vendeur
							</a>
							<ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
								<li>
									<a class="dropdown-item" href="/seller/article">Mes Articles</a>
								</li>
								<li>
									<a class="dropdown-item" href="/seller/detail/commande">Mes Ventes réalisées </a>
								</li>
								<li>
									<a class="dropdown-item" href="/seller/detail/commande"> Détails Commandes passées</a>
								</li>
								<li>
									<a class="dropdown-item" href={{path ('seller_payment_request_index')}}>Détails Paiements reçu</a>
								</li>
							
							</ul>
						</li>

					{% endif %}

				</ul>

				    <span class="navbar-text">

						<div class=" navbar-nav row">

						{% if (is_granted('ROLE_ADMIN') or is_granted('ROLE_SELLER')) == false %}

							<a class="nav-link" href="{{ path ('cart_index') }}">{{cart.totalQ}}<i class="fa-solid fa-cart-shopping"></i></a>

						{% endif %}


							{% if (is_granted('ROLE_ADMIN') or is_granted('ROLE_SELLER') or is_granted('ROLE_USER')) == false %}

								
								<a class="nav-link" href="{{ path ('app_login') }}">Login</a>
														
								<a class="nav-link" href="{{ path ('app_register') }}">Inscription</a>
						

							{% endif %}

							{% if (is_granted('ROLE_ADMIN') or is_granted('ROLE_SELLER') or is_granted('ROLE_USER')) %}

								
								<a class="nav-link" href="/profile"> <i class="fa-solid fa-user"></i></a>		
						
								<a class="nav-link" href="{{ path  ('app_logout') }}">Logout</a>
						
					
							{% endif %}

						</div>

					</span>
			</div>
		</nav>
	<main>